<section>
    <div class="container">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <form class="form-horizontal" action="/admin/add-products" method="post" enctype="multipart/form-data">
            <fieldset>
                <!-- Form Name -->
                <h2 class="text-center">Add Products</h2>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                    <div class="col-md-4">
                        <input id="product_name" name="name" placeholder="PRODUCT NAME" class="form-control input-md"
                            required="" type="text">
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
                    <div class="col-md-4">
                        <select name="category" >
                            <option value="Electronics">Electronics</option>
                            <option value="Phones">Phones</option>
                            <option value="Edible">Edibles</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_price">PRODUCT PRICE</label>
                    <div class="col-md-4">
                        <input id="product_price" name="price" placeholder="PRODUCT PRICE" class="form-control input-md"
                            type="number">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="product_description" name="description"></textarea>
                    </div>
                </div>


                <!-- Text input-->
                <div class="form-group">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filebutton">Product_Image</label>
                        <div class="col-md-4">
                            <input id="filebutton" name="image" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton">Add Product</label>
                        <div class="col-md-4">
                            <button id="singlebutton" class="btn btn-success">ADD</button>
                        </div>
                    </div>

            </fieldset>
        </form>
    </div>
</section>